* {
  box-sizing: border-box;
  text-align: center;
}
 
#app {
  margin:0;
  color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  
  &>section:not(.navbar){
    max-width: 500px;
    width:95%; 
    min-height:80vh;
    align-self: center;
    overflow: hidden;
  }
}
footer{
  text-align: center;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

a {
  color: var(--theme-color);
  text-decoration: none;
  display: inline-block;
&:hover, &:active{
  filter: brightness(0.8)
}
}