
/*----------  Pacifico-Regular Font  ----------*/

@font-face {
  font-family: 'Pacifico';
  src: url('./assets/fonts/Pacifico-Regular.ttf');
}

/*----------  Exo2-Medium Font  ----------*/

@font-face {
  font-family: 'Exo2';
  src: url('./assets/fonts/Exo2-Medium.ttf');
}

