:root {
  /* Layout */
  // --container-width: $container-width;
  // --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Exo2;
  --secondary-font: Pacifico ;
  /* Colors */
  --main-color: #626262;
  --theme-color: #f4424b;
}

